<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="js">
                <field id="enable_baler_js_bundling" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable JavaScript bundling with Baler</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[<strong style="color:red">Warning!</strong> Be sure that you have your theme baler assets: core-bundle.js & requirejs-bundle-config.js]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
